html {
  background-color: #FFEDED;
}

/*Nav*/
.nav ul {
  list-style: none;
  width: 140px;
  background: white;
  padding: 30px 0;
  padding-bottom: 1000px;
  display: block;
  text-align: right;
}

#logo {
  width: 140px;
}

.nav li {
  color: #FA0000;
  font-size: 18px;
  margin-bottom: 5px;
}

.nav a {
  font-size: 15px;
  font-family: 'PT Sans'. sans-serif;
  text-decoration: none;
  color: #FF8787;
  margin-right: 7px;
  transition: all .2s ease-out 0s;
}

.nav a:hover {
  color: red;
  margin-right: 12px;
  transition: all .1s ease-in 0s;
  text-decoration: none;
}

.selected a {
  color: red;
  margin-right: 15px;
}

  /*Icons*/
  #wichtig {
    position: absolute;
    z-index: 2;
    margin-top: 413px;
    margin-left: 10px;
  }

  #wichtig2 {
    position: absolute;
    z-index: 2;
    margin-top: 413px;
    margin-left: 2px;
  }

  #food {
    position: absolute;
    z-index: 2;
    margin-top: 696px;
    margin-left: 32px;
  }

  #food2 {
    position: absolute;
    z-index: 2;
    margin-top: 695px;
    margin-left: 27px;
  }


/*Startseite*/
.header {
  margin-left: -202px;
  margin-top: -100px;
  padding: 0;
  transform: scale(0.75);
  background-color: #FFEDED;
  position: absolute;
  float: left;
}

/*Vertretungsplan*/
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*Mittag*/
.mittag iframe {
  width: 75%;
  height: 600px;
  position: absolute;
  float: right;
  z-index: 3;
  margin-left: 40px;
  margin-top: 30px;
  padding: 0;
  box-shadow: 10px 10px 5px #888888;
}
